@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

#map {
    height: 100%;
    position: relative;
}

.map-container {
    width: 100%; 
    height: 100%; 
    position: absolute;
}

a {
    text-decoration: none;
}

.color-white {
	color: white;
}

.mosaic {
    font-family: 'Julius Sans One', sans-serif;
    color: green;
}

.black {
    color: black;
}

p.small {
    line-height: 58%;
}