<style>
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
</style>

#map {
    height: 100%;
    position: relative;
}

.map-container {
    width: 100%; 
    height: 100%; 
    position: absolute;
}

a {
    text-decoration: none;
}

.color-white {
	color: white;
}

.mosaic {
    font-family: 'Shadows Into Light', cursive;
    font-weight: lighter;
    color: green;
}

.black {
    color: black;
}

p.small {
    line-height: 58%;
}